<span id="nav_tabs"></span>

<span id="alerter" style="display:none">
	<div class="alert alert-block alert-error fade in">
		<button class="close" data-dismiss="alert" type="button">&times;</button>
		<h4 class="alert-heading">Oh snap!</h4>
		<p>There may have been a problem contacting the server. Please try again later.</p>
	</div>
</span>

<span id="alerter_playlist_deleted" style="display:none">
	<div class="alert alert-success">
		Your playlist has been deleted successfully!
	</div>
</span>
<span id="show_pl_active">
<h2>My Playlists</h2>
<hr/>
	<% 
	if (data.data) { 
		var playlist_id;
		var is_public;

		_.each(data.data, function(c) { 
			playlist_id = c.id;
			is_public = c.is_public;
		%> 
			<div class="row-fluid" id="<%= playlist_id %>">
				<div class="span10">
					<blockquote>
						<a class="redirToDetails" href="" id="<%= c.uniq %>xdemx"><%= c.playlist_name %></a>
						<span class="pull-right" style="vertical-align:top">&nbsp;
							<a href="" class="btn" alt="pl_name_list" id="<%= playlist_id %>xpl_name_show_list" title="Show list"><i class="icon-folder-close"></i></a>
							<a href="" class="btn" alt="pl_name_list" id="<%= playlist_id %>xpl_name_hide_list" style="display:none" title="Hide list"><i class="icon-folder-open"></i></a>
							<span id="<%= playlist_id %>_propu">	
							<% if (is_public) { %>
								<a href="" id="propu" name="<%= playlist_id%>" class="btn" title="Playlist is public"><i class="icon-ok-circle"></i></a>
							<% } else { %>
								<a href="" id="propu" name="<%= playlist_id%>" class="btn" title="Playlist is private"><i class="icon-ban-circle"></i></a>
							<% } %>
							</span>
							<a href="" class="btn del_playlist" id="playlist_<%= playlist_id %>" title="Delete this playlist"><icon class="icon-remove"></icon></a>
						</span>
						<small><%= c.description %></small>
					</blockquote>
					<span id="<%= playlist_id %>_list_container" style="display:none">
						<div class="row-fluid">
							<div class="well span10">
								<%
								if (typeof c.embeds[0] !== 'undefined') {
								%>
									<ul class="thumbnails">
								<%
										_.each(c.embeds, function(d) {
											var dat = JSON.parse(d.data);
											var title = dat.title;
											title = title.replace(/"/g, '\\"');
											var description = dat.description;
											description = description.replace(/"/g, "'");
									%>
										<li class="span3" id="<%= playlist_id %>_<%= d.id %>">
										<span style="text-align:center">
											<a class="thumbnail" href="" id="<%= c.uniq %>xdemx<%= d.uniq %>">
												<input rel="tooltip" type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + d.id) %>" />
											</a>
											&nbsp;<a href="" class="remplay" style="width:100%;" data-toggle="modal" id="<%= playlist_id %>_<%= d.id %>" title="Remove from playlist"><i class="icon-trash"></i></a>
										</span>
										</li>
								<%
									}); // each
								%>
									</ul>
								<%
								} else {
								%>
									<p class="muted">
										<small>
											This playlist is empty. Check out some <abbr title="Videos, Photos, Rich Media, or Links" class="initialism">embedibles</abbr> and add them to this list.
										</small>
									</p>
								<%
								}
								%>
							</div>
							
						</div>
					</span>
				</div>
			</div>
		<% 
		}); 
		%>
		<br/><br/>
	<% } else { %>
		<div class="alert alert-info">
			You don't have playlists yet. Please start adding.
		</div>
	<% } %>
</span>

<span id="show_add_active" style="display:none">
<h2>Add Playlist</h2>
<hr/>
	<span id="alerter_add" style="display:none">
		<div class="alert alert-block alert-error">
			<h4 class="alert-heading">Uh oh!</h4>
			<p>Playlist name contains disallowed characters.</p>
		</div>
	</span>
	<span id="alerter_desc" style="display:none">
		<div class="alert alert-block alert-error">
			<h4 class="alert-heading">Uh oh!</h4>
			<p>Description contains disallowed characters.</p>
		</div>
	</span>
	<span id="alerter_tags" style="display:none">
		<div class="alert alert-block alert-error">
			<h4 class="alert-heading">Uh oh!</h4>
			<p>Tags contains disallowed characters.</p>
		</div>
	</span>
	<span id="alerter_success" style="display:none">
		<div class="alert alert-success">
			Your playlist has been created successfully!
		</div>
	</span>
	<span id="blank_playlist" style="display:none">
		<div class="alert alert-error">
			Oops! All fields are required.
		</div>
    </span>
	<form>
		<div>
			Playlist Name:<br/>
			<input class="span3" id="playlist_name" type="text" placeholder="Playlist name"><br/>
			Description:<br/>
			<textarea id="playlist_description" rows="3" placeholder="Playlist description"></textarea><br/>
			Tags:<br/>
			<input class="span3" type="text" id="playlist_tags" placeholder="Playlist tags"/><br/>
			<button class="btn btn-primary" id="add_submit" type="button">Go!</button>
		</div>
	</form>
</span>

<span id="modal_container"></span>
