<% 
	var dat = JSON.parse(data.data);
	var showThis = '';
	if (dat.type === 'video' || dat.type === 'rich') {
		showThis = dat.html;
	} else if (dat.type === 'photo') {
		showThis = '<a href="' + dat.thumbnail_url + '"><img src="' + dat.url + '" border="0"/></a>'
	} else if (dat.type === 'link') {
		if (typeof thumbnail_url !== "undefined" && thumbnail_url !== "") {
			showThis = '<a href="' + dat.url + '" target="_blank"><img src="' + dat.thumbnail_url + '"/></a>'
		} else {
			showThis = '<a href="' + dat.url + '" target="_blank">' + dat.url + '</a>'
		}
	}
	
	// for testing purposes only
	// remove after
	var devWidth = $(window).width() - 50;
			newWidth = 'width="' + devWidth + '"';
			
			// match the width value of showThis
			var myReg = showThis.match(/width=(".*?"|'.*?'|[^"'][^\s]*)/)
			// width="640"
			var widthVal = myReg[0];
			
			myReg = showThis.match(/height=(".*?"|'.*?'|[^"'][^\s]*)/)
			var heightVal = myReg[0];
			
			if (newWidth < widthVal) {
				showThis = showThis.replace(widthVal, newWidth);
				showThis = showThis.replace(heightVal, newWidth);
			}
	// for testing purposes
	
	
	// detect if using a mobile device
	if (dat.type === 'video' || dat.type === 'rich') {
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
			// get the resolution of the device display less 50
			var devWidth = $(window).width() - 50;
			newWidth = 'width="' + devWidth + '"';
			
			// match the width value of showThis
			var myReg = showThis.match(/width=(".*?"|'.*?'|[^"'][^\s]*)/)
			// width="640"
			var widthVal = myReg[0];
			
			myReg = showThis.match(/height=(".*?"|'.*?'|[^"'][^\s]*)/)
			var heightVal = myReg[0];
			
			if (newWidth < widthVal) {
				showThis = showThis.replace(widthVal, newWidth);
				showThis = showThis.replace(heightVal, newWidth);
			}
			
		};
	}
%>

<div class="row-fluid">
	<div class="span10">
		<h4>
			<%= dat.title %>
			<!--
			<span id="showDetBut"><a href="" title="Show details"><img src="<%= website %>images/icons/button_forward.png" border="0" width="28" height="28" /></a></span>
			<span id="hideDetBut" style="display:none"><a href="" title="Hide details"><img src="<%= website %>images/icons/button_rewind.png" border="0" width="28" height="28" /></a></span>
			-->
			
			<span id="showDetBut"><a href="" class="btn btn-small" title="Show details"><i class="icon-chevron-down"></i></a></span>
			<span id="hideDetBut" style="display:none"><a href="" class="btn btn-small" title="Hide details"><i class="icon-chevron-up"></i></a></span>
			
		</h4>
		<span id="conDetails" style="display:none">
			<b>Description:</b><br/>
			<p class="text-info"><%= dat.description %></p>
		</span>
		<%= showThis %>                                                                       
		<br/>
		<hr/>
		<div class="row">
			<div class="span7">
			  <h4>Post a comment:</h4>
			  <div class="fb-comments" data-href="<%= location.hostname + location.pathname %>" data-width="470" data-num-posts="10"></div>
			</div>

			<div class="span3">
			  <h4>Subheading</h4>
			  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

			  <h4>Subheading</h4>
			  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

			  <h4>Subheading</h4>
			  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			</div>
		</div>
    </div>
</div>