<% 
	var dat = JSON.parse(data.data);
	var showThis = '';
	if (dat.type === 'video' || dat.type === 'rich') {
		showThis = dat.html;
	} else if (dat.type === 'photo') {
		showThis = '<a href="' + dat.thumbnail_url + '"><img src="' + dat.url + '" border="0"/></a>'
	} else if (dat.type === 'link') {
		if (typeof thumbnail_url !== "undefined" && thumbnail_url !== "") {
			showThis = '<a href="' + dat.url + '" target="_blank"><img src="' + dat.thumbnail_url + '"/></a>'
		} else {
			showThis = '<a href="' + dat.url + '" target="_blank">' + dat.url + '</a>'
		}
	}
%>

<h3>
	<%= dat.title %>
	<span id="showDetBut"><a href="" title="Show details"><img src="<%= website %>images/icons/button_forward.png" border="0" width="28" height="28" /></a></span>
	<span id="hideDetBut" style="display:none"><a href="" title="Hide details"><img src="<%= website %>images/icons/button_rewind.png" border="0" width="28" height="28" /></a></span>
	
</h3>
<div id="conDetails" style="display:none">
	<b>Description:</b><br/>
	<%= dat.description %>
</div>
<div><%= showThis %></div><br/>
<div class="fb-comments" data-href="<%= location.hostname + location.pathname %>" data-width="470" data-num-posts="10"></div>
