<div class="row-fluid">

<% if (tag) { %>
	<h2><%= uri + ': ' + tag %></h2>
	Embedibles &nbsp;&nbsp;<button id="embedibles" value="<%= tag %>/playlists" class="btn btn-small">Playlists</button>
	<hr/>
<% } else if (uri) { %>
	<h2><%= uri %></h2>
	<hr/>
<% } %>


<% 
var i = 0;
if (data.data) {
	if (uri) {

	} // if uri
	_.each(data.data, function(c) { 
		i += 1;
		var dat = JSON.parse(c.data);
		var title = dat.title;
		//title = title.replace(/"/g, '\\"');
		var description = dat.description;
		//description = description.replace(/"/g, "'");
		
	%>
		<!--<input type="image" class="tooltip" title="<b><font color='#0292C0'><%= dat.type %></font> : <%= title %></b><br/><br/><%= description %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />-->
		<!--<input type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />-->
	<!--
	<li class="span4">
			<div class="thumbnail">
				<span style="text-align:center">
					<a class="thumbnail">
						<input rel="tooltip" type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />
					</a>
				</span>
				<h5><<%= title %></h5>
				<p><%= dat.description %></p>
			</div>
		</li>
		-->
	<div class="media">
		<a class="pull-left" href="">
			<input type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="64" height="64" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />
		</a>
		
		<div class="media-body">
			<h4 class="media-heading">
				<% 
				// putting url in the href becuase of msie issue not redirecting when 
				// e.preventDefault is disabled with the tag <a href=""></a>
				// this does not affect other browsers since this link is intended to refresh the page
				// due that FB comments and like are not displaying properly with preventDefault enabled.
				%>
				<a id="goToDetail" href="<%= website + dat.type + "/" + c.id %>" name="<%= encodeURIComponent(dat.type + "/" + c.id) %>"><%= title %></a>
			</h4>
			<p><%= dat.description %></p>
		</div>
    </div>
    <hr/>
<% 
	}); // each
} else { %>
	No record found.
<% } %>

<span id="embed_area"></span>
<span id="showMore" style="display:none">
	<button id="show_more_button" class="btn btn-large btn-block btn-primary" type="button">Show more</button><br/>
</span>
<div class="pull-right" span="2">
	<button id="scrollToTop" class="btn btn-large" type="button"><i class="icon-arrow-up"></i></button>
</div>
<span id="scrollTop" style="display:none">
	<button id="scrollToTop" class="btn btn-large btn-block btn-primary" type="button">Scroll to top of page</button><br/>
</span>

</div>