<ul class="thumbnails">

<% 
var i = 0;
if (data.data) {
	_.each(data.data, function(c) { 
		i += 1;
		var dat = JSON.parse(c.data);
		var title = dat.title;
		title = title.replace(/"/g, '\\"');
		var description = dat.description;
		description = description.replace(/"/g, "'");
		
	%>
		<!--<input type="image" class="tooltip" title="<b><font color='#0292C0'><%= dat.type %></font> : <%= title %></b><br/><br/><%= description %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />-->
		<!--<input type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />-->
		<li class="span2">
			<span style="text-align:center">
			<a class="thumbnail">
				<input rel="tooltip" type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />
			</a>
			</span>
		</li>
<% 
	}); // each
%>
</ul>
<% } else { %>
	<div class="alert alert-info">
    	No record yet. Please start embedding.
    </div>
<% } %>