Provider: <%= provider_url %><br/>
Description: <%= description %><br/>
Type: <%= type %><br/>
<% if (type === 'video' || type === 'rich') { %>
	<%= html %>
<% } else if (type === 'photo') { %>
	<img src="<%= url %>"/>
<% 
} else if (type === 'link') { 
	if (typeof thumbnail_url !== "undefined" && thumbnail_url !== "") {
%>
	<img src="<%= thumbnail_url %>"/><br/>
<%	
	}
%>
	<a href="<%= url %>" target="_blank"><%= url %></a>
<% } %>
<br/>
<input type="hidden" id="data" value="<%= encodeURIComponent(data) %>"/>
<button class="btn btn-small btn-primary" id="save" name="save">Save</button>&nbsp;
<button class="btn btn-small btn-primary" id="embCancel" name="cancel">Cancel</button>

<!--<input type="submit" name="save" id="save" value="Save"/>&nbsp;
<input type="submit" name="cancel" id="embCancel" value="Cancel"/>
-->