<script type="text/template" id="select_form">
	<h2>Add Embed</h2>
	<span id="b1">Category: <span id="disp_cat">choose...</span> <button id="choose_cat">>></button></span>
	<span id="b2" style="display:none">Category: choose... <button id="hide_cat"><<</button></span>
	<div id="sf" style="display:none">
		<% _.each(data, function(c) { %> 
			<input type="radio" name="category" value="<%= c.name %>"/><%= c.name %><br/>
		<% }); %>
	</div>
	<div>URL: <input type="text" id="url" name="url" size="35"/></div>
	<div id="test"></div>
	<input type="submit" name="submit" value="Send"/>
</script>