<%
if (data.data) {
	_.each(data.data, function(c) {
	var playlist_id = c.id;
	var is_public = c.is_public;
	var playlist_name = c.playlist_name;
	var playlist_desc = c.description;
	var showThis;
	var zTitle;
	
	//get the tags
	var tags = c.tags;
	var tagsArr = tags.split(',');
	pl_tags = createTagLinks(tagsArr);
	
	if (typeof c.embeds[0] !== 'undefined') {
		i = 0;
%>
		<div class="row" >
			<div class="span8" id="sidebar_is_visible" <%= sidebar_is_visible %>>
				<h4>
					<%= playlist_name %>
					<span>
						<div class="btn pull-right" id="sidebar_hide" title="Hide the sidebar"><i class="icon-chevron-right"></i>&nbsp;</div>
					</span>
				</h4>
					<small><%= playlist_desc %></small>
					<hr/>
					
					<div>
						Tags:<br/>
						<%= pl_tags %>
					</div>
			</div>
			<div class="span12" id="sidebar_is_hidden" <%= sidebar_is_hidden %>>
				<h4>
					<%= playlist_name %>
					<span>
						<div class="btn pull-right" id="sidebar_reveal" title="Show the sidebar"><i class="icon-chevron-left"></i>&nbsp;</div>
					</span>
				</h4>
					<small><%= playlist_desc %></small>
					<hr/>
					<div>
						<h5 id="content_title"></h5>
						<small id="content_description"></small> 
						<p id="embedible"></p>
					</div>
			</div>
			<div id="sidebar" class="span4" <%= sidebar %>>
				<ul class="thumbnails">
<%
				_.each(c.embeds, function(d) {
					var dat = JSON.parse(d.data);
					var title = dat.title;
					title = title.replace(/"/g, '\\"');
					var description = dat.description;
					description = description.replace(/"/g, "'");
					
					if (vid_uniq === d.uniq || !i) {
						var showThis = detectEmbed(dat);
						var zTitle = title;
					}
					if (showThis && zTitle) {
						//create a little delay before rendering the embed
						setTimeout(function () {		
							// detect if using a mobile device
							if (dat.type === 'video' || dat.type === 'rich') {
								if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
									// get the resolution of the device display less 25%
									var devWidth = $(window).width() * .75;
								
									// this is the new width with surrounding text -- width="xxx" --
									newWidth = 'width="' + devWidth + '"';
										
									// match the width value of showThis
									var myReg = showThis.match(/width=(".*?"|'.*?'|[^"'][^\s]*)/)
									var widthVal = myReg[0];
									
									// get the width without the surrounding text -width="xxx"-
									var xW = myReg[1];
									xW = xW.replace(/"/g, "");
									myReg = showThis.match(/height=(".*?"|'.*?'|[^"'][^\s]*)/)
									var heightVal = myReg[0];
								
									// get the height without the surrounding text -width="xxx"-
									var xH = myReg[1];
									xH = xH.replace(/"/g, "");
									
									newHeight = 'height="' + devWidth + '"';
									
									// if device's half of its max width width is less than the width of the embed
									if (devWidth < xW) {
										// convert the width to that of the device's half width
										var re = new RegExp(widthVal,"g");
										var reH = new RegExp(heightVal,"g");
										showThis = showThis.replace(re, newWidth);
										showThis = showThis.replace(reH, newHeight);
									}
								};
							}
						
							// show the content
							$('#content_title').html(zTitle);
							$('#content_description').html(description);
							$('#embedible').html(showThis);
						},100);
					}
%>
				<li class="span2">
					<span style="text-align:center">
						<a class="thumbnail" id="<%= d.uniq %>">
							<input rel="tooltip" type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + d.id) %>" />
						</a>
					</span>
				</li>
<%
					i += 1;
				}) // each
%>				
				</ul>
			</div>
		</div>
<%
	} // if
	}) // each data.data
} else {
%>
	there's no data
<%
}
%>
<br/><br/>