<%
if (data.data) {
	_.each(data.data, function(c) {
	playlist_id = c.id;
	is_public = c.is_public;
	playlist_name = c.playlist_name;
	if (typeof c.embeds[0] !== 'undefined') {
%>
		<div class="row" >
			<div id="sidebar" class="span2">
				<ul class="thumbnails">
<%
				_.each(c.embeds, function(d) {
					var dat = JSON.parse(d.data);
					var title = dat.title;
					title = title.replace(/"/g, '\\"');
					var description = dat.description;
					description = description.replace(/"/g, "'");
%>
				<li class="span2">
					<span style="text-align:center">
						<a class="thumbnail">
							<input rel="tooltip" type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + d.id) %>" />
						</a>
					</span>
				</li>
<%
		}) // each
%>				
				</ul>
			</div>
			<div class="span10" id="sidebar_is_visible">
				<h4>
					<span>
						<div class="btn" id="sidebar_hide" title="Hide the sidebar"><i class="icon-chevron-left"></i>&nbsp;</div>
					</span>
					&nbsp;<%= playlist_name %>
					<hr/>
					
					<div>
						SIDEBAR IS VISIBLE
					</div>
				</h4>
			</div>
			<div class="span12" id="sidebar_is_hidden" style="display:none" title="Show the sidebar">
				<h4>
					<span>
						<div class="btn" id="sidebar_reveal"><i class="icon-chevron-right"></i>&nbsp;</div>
					</span>
					&nbsp;<%= playlist_name %>
					<hr/>
					
					<div>
						SIDEBAR IS HIDDEN
					</div>
				</h4>
			</div>
		</div>
<%
	} // if
	}) // each data.data
} else {
%>
	there's no data
<%
}
%>