<ul class="nav nav-tabs">
	<li <%= activ === "show_all" ? 'class="active"' : ''%>>
		<a href="#" id="show_all">Show All</a>
	</li>
	<li <%= activ === "my_videos" ? 'class="active"' : ''%>>
		<a href="#" id="my_videos">My Videos</a>
	</li>
	<li <%= activ === "my_photos" ? 'class="active"' : ''%>>
		<a href="#" id="my_photos">My Photos</a>
	</li>
	<li <%= activ === "my_rich" ? 'class="active"' : ''%>>
		<a href="#" id="my_rich">My Rich Media</a>
	</li>
	<li <%= activ === "my_links" ? 'class="active"' : ''%>>
		<a href="#" id="my_links">My Links</a>
	</li>
</ul>