<span id="alerter" style="display:none">
	<div class="alert alert-block alert-error fade in">
		<button class="close" data-dismiss="alert" type="button">&times;</button>
		<h4 class="alert-heading">Oh snap!</h4>
		<p>There may have been a problem contacting the server. Please try again later.</p>
	</div>
</span>

<span id="alerter_success_atpl" style="display:none">
	<div class="alert alert-success">
		Successfully added to your playlist.
	</div>
</span>
	
<span id="xshow_all">
<h2>Show All</h2>
<hr/>
<% if (data.data) { %>
	<ul class="thumbnails">
		<% 
		var i = 0;
		_.each(data.data, function(c) { 
			i += 1;
			var dat = JSON.parse(c.data);
			var title = dat.title;
			title = title.replace(/"/g, '\\"');
			var description = dat.description;
			description = description.replace(/"/g, "'");
		%>
		<li class="span2" id="a_<%= c.pkid %>">
			<span style="text-align:center">
				<a class="thumbnail">
					<input rel="tooltip" type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />
				</a>
				<span id="a_<%= c.pkid %>">
					<% if (c.is_public === 1) { %>
						<a href="" id="propu" name="a_<%= c.pkid %>" title="make it private"><span class="label">public</span></a>
					<% } else { %>
						<a href="" id="propu" name="a_<%= c.pkid %>" title="make it public"><span class="label label-info">private</span></a>
					<% } %>
				</span>
				&nbsp;|&nbsp;<a href="" class="fordelete" style="width:100%;" data-toggle="modal" id="a_<%= c.pkid %>" title="delete"><i class="icon-trash"></i></a>
				&nbsp;|&nbsp;<a href="" class="addToPlaylist" style="width:100%;" data-toggle="modal" id="a_<%= c.pkid %>" title="add to playlist"><i class="icon-plus"></i></a>
				<input type="hidden" id="<%= c.pkid %>_title" value="<%= title %>">
			</span>
		</li>
		<% }); %>
	</ul>

<% } else { %>
	<div class="alert alert-info">
    	No record yet. Please start embedding.
    </div>
<% } %>
</span>

<span id="xmy_videos" style="display:none">
<h2>My Videos</h2>
<hr/>
	<ul class="thumbnails">
		<% 
		var i = 0;
		var noData = true;
		_.each(data.data, function(c) { 
			i += 1;
			var dat = JSON.parse(c.data);
			if (dat.type !== 'video') { 
				// do nothing;
			} else {
				noData = false;
				var title = dat.title;
				title = title.replace(/"/g, '\\"');
				var description = dat.description;
				description = description.replace(/"/g, "'");
			
		%>
		<li class="span2" id="b_<%= c.pkid %>">
			<span style="text-align:center">
				<a class="thumbnail">
					<input rel="tooltip" type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />
				</a>
				<span id="b_<%= c.pkid %>">
					<% if (c.is_public === 1) { %>
						<a href="" id="propu" name="b_<%= c.pkid %>" title="make it private"><span class="label">public</span></a>
					<% } else { %>
						<a href="" id="propu" name="b_<%= c.pkid %>" title="make it public"><span class="label label-info">private</span></a>
					<% } %>
				</span>
				&nbsp;|&nbsp;<a href="" class="fordelete" style="width:100%;" data-toggle="modal" id="b_<%= c.pkid %>" title="delete"><i class="icon-trash"></i></a>
			</span>
		</li>
		<% } }); %>
	</ul>
	<% if (noData) { %>
		<div class="alert alert-info">
			No record yet. Please start embedding.
		</div>
	<% } %>
</span>

<span id="xmy_photos" style="display:none">
<h2>My Photos</h2>
<hr/>
	<ul class="thumbnails">
		<% 
		var noData = true;
		var i = 0;
		_.each(data.data, function(c) { 
			i += 1;
			var dat = JSON.parse(c.data);
			if (dat.type !== 'photo') { 
				// do nothing;
			} else {
				noData = false;
				var title = dat.title;
				title = title.replace(/"/g, '\\"');
				var description = dat.description;
				description = description.replace(/"/g, "'");
			
		%>
			<li class="span2" id="c_<%= c.pkid %>">
			<span style="text-align:center">
				<a class="thumbnail">
					<input rel="tooltip" type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />
				</a>
				<span id="c_<%= c.pkid %>">
					<% if (c.is_public === 1) { %>
						<a href="" id="propu" name="c_<%= c.pkid %>" title="make it private"><span class="label">public</span></a>
					<% } else { %>
						<a href="" id="propu" name="c_<%= c.pkid %>" title="make it public"><span class="label label-info">private</span></a>
					<% } %>
				</span>
				&nbsp;|&nbsp;<a href="" class="fordelete" style="width:100%;" data-toggle="modal" id="c_<%= c.pkid %>" title="delete"><i class="icon-trash"></i></a>
			</span>
		</li>
		<% } }); %>
	</ul>
	<% if (noData) { %>
		<div class="alert alert-info">
			No record yet. Please start embedding.
		</div>
	<% } %>
</span>

<span id="xmy_links" style="display:none">
<h2>My Links</h2>
<hr/>
	<ul class="thumbnails">
		<% 
		var i = 0;
		var noData = true;
		_.each(data.data, function(c) { 
			i += 1;
			var dat = JSON.parse(c.data);
			if (dat.type !== 'link') { 
				// do nothing;
			} else {
				noData = false;
				var title = dat.title;
				title = title.replace(/"/g, '\\"');
				var description = dat.description;
				description = description.replace(/"/g, "'");
			
		%>
		<li class="span2" id="d_<%= c.pkid %>">
			<span style="text-align:center">
				<a class="thumbnail">
					<input rel="tooltip" type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />
				</a>
				<span id="d_<%= c.pkid %>">
					<% if (c.is_public === 1) { %>
						<a href="" id="propu" name="d_<%= c.pkid %>" title="make it private"><span class="label">public</span></a>
					<% } else { %>
						<a href="" id="propu" name="d_<%= c.pkid %>" title="make it public"><span class="label label-info">private</span></a>
					<% } %>
				</span>
				&nbsp;|&nbsp;<a href="" class="fordelete" style="width:100%;" data-toggle="modal" id="d_<%= c.pkid %>" title="delete"><i class="icon-trash"></i></a>
			</span>
		</li>
		<% } }); %>
	</ul>
	<% if (noData) { %>
		<div class="alert alert-info">
			No record yet. Please start embedding.
		</div>
	<% } %>
</span>

<span id="xmy_rich" style="display:none">
<h2>My Rich Media</h2>
<hr/>
	<ul class="thumbnails">
		<% 
		var i = 0;
		var noData = true;
		_.each(data.data, function(c) { 
			i += 1;
			var dat = JSON.parse(c.data);
			if (dat.type !== 'rich') { 
				// do nothing;
			} else {
				noData = false;
				var title = dat.title;
				title = title.replace(/"/g, '\\"');
				var description = dat.description;
				description = description.replace(/"/g, "'");
			
		%>
		<li class="span2" id="e_<%= c.pkid %>">
			<span style="text-align:center">
				<a class="thumbnail">
					<input rel="tooltip" type="image" title="<%= dat.type %>: <%= title %>" src="<%= dat.thumbnail_url %>" width="75" height="75" value="<%= encodeURIComponent(dat.type + "/" + c.id) %>" />
				</a>
				<span id="e_<%= c.pkid %>">
					<% if (c.is_public === 1) { %>
						<a href="" id="propu" name="e_<%= c.pkid %>" title="make it private"><span class="label">public</span></a>
					<% } else { %>
						<a href="" id="propu" name="e_<%= c.pkid %>" title="make it public"><span class="label label-info">private</span></a>
					<% } %>
				</span>
				&nbsp;|&nbsp;<a href="" class="fordelete" style="width:100%;" data-toggle="modal" id="e_<%= c.pkid %>" title="delete"><i class="icon-trash"></i></a>
			</span>
		</li>
		<% } }); %>
	</ul>
	<% if (noData) { %>
		<div class="alert alert-info">
			No record yet. Please start embedding.
		</div>
	<% } %>
</span>

<span id="modal_container"></span>
<span id="modalAddToPLaylistContainer"></span>
<span id="popover"></span>

<br/><br/>